.bookings-container{
  margin: 0px 24px;
  .bookings-navbar{
    display: flex;
    margin: 32px 0px;
    justify-content: space-between;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    button{
      background: none;
      border: none;
      width: 25%;
      padding: 12px 0px;
      color: white;
      font-family: "Amazon Ember",Arial,sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-bottom: #225191 2px solid;
      &:hover{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px 8px 0px 0px;
        border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
      }
      &:active{
        border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
      }
    }
  }

  h2{
    color: rgba(87, 89, 102, 1);
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 24px;
  }

  .section-bookings{
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    margin-bottom: 48px;
    .section-bookings-body{
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      height: 75vh;
      padding: 12px 24px;
      .card-booking-table{
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
        padding: 24px 0px;
        .card-booking-image{
          width: 120px;
          height: 120px;
          border-radius: 16px;

          img{
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 16px;
          }
        }
        .card-booking-name{
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          h2{
            margin: 0px;
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 12px;
          }
          p{
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;
          }
        }
        .card-booking-date{
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          h2{
            margin: 0px;
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 12px;
          }
          p{
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;
          }
        }
        .card-booking-fech{
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          h2{
            margin: 0px;
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 12px;
          }
          p{
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;
          }
        }
        .card-booking-time{
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          h2{
            margin: 0px;
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 12px;
          }
          button{
            padding: 12px 12px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            color: var(--Fondo-azul, #225191);
            text-align: center;
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: white 2px solid;
            transition: all 0.1s ease-in-out;
            &:hover{
              background: rgba(255, 255, 255, 0.1);
              border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
              border: #225191 2px solid;
            }
            &:active{
              font-size: 14px;
              padding: 13px 0px;
            }
          }
          button[disabled] {
            color: #ccc; /* Color del texto cuando está deshabilitado */
            cursor: not-allowed; /* Cambia el cursor a no permitido cuando está deshabilitado */
            &:hover{
              background: rgba(255, 255, 255, 0.1);
              border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
              border: white 2px solid;
            }
          }
        }
        .card-booking-button{
          flex-wrap: nowrap;
          display: flex;
          flex-direction: column;
          gap: 12px;
          .posponer{
            text-decoration: none;
            padding: 12px 12px;
            border-radius: 8px;
            background: white;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            color: #225191;
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: #225191 1px solid;
            transition: all 0.1s ease-in-out;
            &:hover{
              background: #225191;
              color: white;
            }
            &:active{
              font-size: 14px;
              padding: 13px 20px;
            } 
          }
          .cancelar{
            text-decoration: none;
            padding: 12px 12px;
            border-radius: 8px;
            background: white;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            color: #B71C1C ;
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: #B71C1C 1px solid;
            transition: all 0.1s ease-in-out;
            &:hover{
              background: #B71C1C;
              color: white;
            }
            &:active{
              font-size: 14px;
              padding: 13px 20px;
            }
          }
          h2{
            margin: 0px;
            color: var(--Texto-tandem, #575966);
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 8px;
          }
          .volver-a-reservar{
            text-decoration: none;
            padding: 12px 12px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
            color: var(--Fondo-azul, #225191);
            text-align: center;
            font-family: "Amazon Ember",Arial,sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: white 2px solid;
            transition: all 0.1s ease-in-out;
            &:hover{
              background: rgba(255, 255, 255, 0.1);
              border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
              border: #225191 2px solid;
            }
            &:active{
              font-size: 14px;
              padding: 13px 0px;
            }
          }
        }
      }
    }
  }
}