/* Estilos para la tarjeta de la comunidad en la página principal */
.card-community-home-2 {
  display: flex; /* Muestra los elementos en una fila */
  width: auto; /* Ancho automático según el contenido */
  height: 412px; /* Altura fija de la tarjeta */
  padding: 12px; /* Relleno interior de la tarjeta */
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: flex-start; /* Alinea los elementos al inicio del eje transversal (eje Y) */
  flex-shrink: 0; /* No permite que la tarjeta se encoja más allá de su tamaño inicial */
  border-radius: 16px; /* Bordes redondeados para la tarjeta */
  background: #FFF; /* Fondo blanco */
  gap: 4px; /* Espacio entre los elementos */
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.5); /* Sombra para la tarjeta */

  /* Estilos para el título y la descripción de la tarjeta */
  .title {
    padding: 0px 0px 8px 0px;
    display: flex; /* Muestra los elementos en una fila */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos al centro del eje transversal (eje Y) */
    align-self: stretch; /* Ajusta la alineación al estirar la tarjeta */

    /* Estilos para el título h2 */ 
    h2 {
      flex: 1 0 0; /* Ocupa el espacio disponible y no se encoge más allá de su contenido */
      color: #575966; /* Color del texto principal */
      font-family: Amazon Ember; /* Tipo de fuente */
      font-size: 20px; /* Tamaño de fuente para el título */
      font-weight: 700; /* Peso de la fuente */
      line-height: 18px; /* Altura de línea */
      margin: auto; /* Margen automático */
    }

    /* Estilos para el párrafo de descripción */
    p {
      color: #575966; /* Color del texto secundario */
      font-family: Amazon Ember; /* Tipo de fuente */
      font-size: 14px; /* Tamaño de fuente para el párrafo */
      font-weight: 400; /* Peso de la fuente */
      line-height: normal; /* Altura de línea normal */
      margin: auto; /* Margen automático */
    }
  }

  /* Estilos para la imagen de la tarjeta */
  .img {
    width: 100%; /* Ancho completo de la imagen */
    
    /* Estilos para la imagen dentro de la tarjeta */
    img {
      height: 100%;
      width: 100%; /* Ancho completo de la imagen */
      border-radius: 16px; /* Bordes redondeados para la imagen */
      object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
      height: 360px; /* Altura fija de la imagen */
      align-self: stretch; /* Ajusta la alineación al estirar la tarjeta */
      transition: transform 0.3s ease; /* Transición suave de la transformación */
    }
  }

  /* Estilos para la información adicional en la tarjeta */
  .infos {
    opacity: 0; /* Opacidad inicial */
    z-index: 1; /* Coloca el elemento encima de otros elementos */
    transform: translateY(-101%); /* Mueve el elemento fuera de la vista inicialmente */
    display: flex; /* Muestra los elementos en una columna */
    height: 360px; /* Altura fija de la información adicional */
    padding: 12px; /* Relleno interior de la información adicional */
    flex-direction: column; /* Organiza los elementos en una columna */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio del eje transversal (eje Y) */
    flex-shrink: 0; /* No permite que la información adicional se encoja más allá de su tamaño inicial */
    align-self: stretch; /* Ajusta la alineación al estirar la tarjeta */
    border-radius: 16px; /* Bordes redondeados para la información adicional */
    background: rgba(0, 0, 0, 0.20); /* Fondo semitransparente negro */

    /* Estilos para el párrafo dentro de la información adicional */
    p {
      color: #FFF; /* Color del texto en la información adicional */
      text-align: center; /* Alinea el texto al centro */
      font-family: Amazon Ember; /* Tipo de fuente */
      font-size: 14px; /* Tamaño de fuente para el párrafo */
      font-weight: 400; /* Peso de la fuente */
      line-height: normal; /* Altura de línea normal */
      margin: 0px; /* Sin margen */
    }

    /* Estilos para el span dentro de la información adicional */
    span {
      width: auto;
      color: #FFF; /* Color del texto en la información adicional */
      font-family: Amazon Ember; /* Tipo de fuente */
      line-height: normal; /* Altura de línea normal */
      margin-top: 24px;
      font-size: 18px; /* Tamaño de fuente para el span */
      font-weight: 700; /* Peso de la fuente */

    }

    /* Estilos para el contenedor de lenguajes en la información adicional */
    .language {
      max-width: auto; /* Ancho máximo automático */
      display: flex; /* Muestra los elementos en una fila */
      justify-content: space-between; /* Distribuye el espacio entre los elementos */
      align-items: center; /* Alinea los elementos al centro del eje transversal (eje Y) */
      align-self: stretch; /* Ajusta la alineación al estirar la tarjeta */
      flex-wrap: nowrap; /* No permite que los elementos se envuelvan a la siguiente línea */
    }

    /* Transición suave para la transformación y opacidad */
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  /* Estilos para la información adicional al pasar el ratón por encima */
  .infos:hover {
    opacity: 1; /* Opacidad completa al pasar el ratón por encima */
    transform: translateY(-101%); /* Restaura la posición original al pasar el mouse */
  }
}
