<h1>TeachingLanguageSessions#new</h1>
<p>Find me in app/views/teaching_language_sessions/new.html.erb</p>

<%#= simple_form_for [@teaching_language_session, @user] do |f| %>
  <%#= hidden_field_tag :calificated_user, params[:teacher_id] %>
  <%#= f.input :language %> <%#, collection: ['Español', 'Portugués', 'Inglés', 'Francés' ], prompt: 'Selecciona una opción' %>
  <%#= f.association :user_id %>
  <%#= f.input :description %>
  <%#= f.submit "Crear materia", class: 'btn btn-primary'  %> <%#= link_to "Regresar al inicio", teaching_language_sessions_new, class: %>
<%# end %>
