<h1>TeachingLanguageSessions id# <%= @teaching_language_session.id %> </h1>

<p><%= @teaching_language_session.user.first_name %> <%= @teaching_language_session.user.last_name %></p>
<p><%= @teaching_language_session.language %></p>
