<div class="container">
  <p>_chatrooms_list</p>
  <% @chatrooms.each do |chatroom| %>
    <% if current_user == chatroom.sender %>
      <%= link_to "#{chatroom.recipient.first_name} #{chatroom.recipient.last_name}", chatroom_path(chatroom) %>
    <% else %>
      <%= link_to "#{chatroom.sender.first_name} #{chatroom.sender.last_name}", chatroom_path(chatroom) %>
    <% end %>
  <% end %>
</div>
