<div class="chatroom-container">
  <h5><%= "#{current_user.first_name} #{current_user.last_name}" %></h5>
  <h4> Users </h4>
  <%= render "users/users_chatroom" %>
  <h4> Chatrooms </h4>
  <%= render "chatrooms" %>
</div>
