<div class="styles-container" data-controller="chats">
  <div class="styles-header">
    <h5><%= "#{current_user.first_name} #{current_user.last_name}" %></h5>
  </div>

  <div class="row">
    <%# SIDEBAR %>
    <aside class="col-md-2 styles-sidebar">
      <%= render "chatrooms" %>
    </aside>

    <%# SELECTED SECTION FROM THE SIDEBAR %>
    <div class="col-md-10">
      <div class="styles-section" data-chats-target="users">
        <%= render "users/users_chatroom" %>
      </div>
    </div>

  </div>
</div>

<%# raise %>

<div class="container chatroom">
  <h1><%#= @chatroom.name %></h1>

  <div class="messages">
    <%# @chatroom.messages.each do |message| %>
      <div id="message-<%#= message.id %>">
        <small>
          <strong><%#= message.user.nickname %></strong>
          <i><%#= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%#= message.content %></p>
      </div>
    <%# end %>
  </div>
</div>
