<div class="container mt-5">
  <div class="card">
    <div class="card-body">
        <h2 class="card-title"><%= @booking.teaching_language_session.language%></h2>
        <div>
          <%= link_to "Edit", edit_booking_path(@booking), class: "btn btn-outline-success mr-2" %>
          <%= link_to "Delete", booking_path(@booking), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "¿Seguro que quieres borrar la reserva?" } %>
        </div>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <%= render 'shared/footer' %>
<% end %>