<section class="container">
  <header>
    <h1>Perfil del usuario cliqueado</h1>
  </header>

  <div>
    <p>Find me in app/views/users/show.html.erb</p>
  </div>
</section>



<%= @user.first_name %>
<%= @user.last_name %>



  