
<div class="page-content">
  <div class="container" style="max-width: 1440px;">

    <%= render "show_banner_perfil" %>
    <%= render "show_card_data_perfil" %>
    <%= render "show_card_perfil" %>





  </div>
</div>
