<section class="container">
  <header>
    <h1>Perfil del usario cliqueado</h1>
    <%= @user.id %>
  </header>
  <%#= raise %>

  <div>
    <p>Find me in app/views/users/show.html.erb</p>
  </div>
</section>



<%= @user.first_name %>
<%= @user.last_name %>
