<div class="page-content">
  <div class="body-community">

      <%# SEARCH BAR %>
    <div class="buscador" data-controller="search-students">
      <p class="teacher-name">Comunidad</p>
      <div class="buscar">
        <%= form_with url: students_path, method: :get, html: {class: "d-flex", data: {search_students_target: "form"}, style: "background-color: white; border-radius: 16px;"} do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "Encuentra a personas...",
                          value: params[:query],
                          style: "background-color: white; border-radius: 16px;",
                          data: {search_students_target: "input"}
          %>
        <% end %>
      </div>
    </div>

    <%# STUDENTS CARDS %>
    <div data-search-students-target="student-card">
      <%= render "card_students" %>
    </div>
  </div>
</div>
<%= link_to "Idiomas",edit_user_registration_path, data: { action: "click->profile#showIdiomas" }, class: "btn btn-primary" %>
