
<div class="page-content">
  <div class="body-community">
    <div class="buscador" data-controller="search-students">
      <h2 class="teacher-name">Profesores</h2>
      <div class="buscar">
        <%= form_with url: teachers_path, method: :get, html: {class: "d-flex", data: {search_students_target: "form"}, style: "background-color: white; border-radius: 16px;"} do |f| %>
          <div class="input-group">
            <%= f.text_field :query, class: "form-control", placeholder: "Encuentra a personas...", value: params[:query], style: "background-color: white; border-radius: 16px 0px 0px 16px;", data: {search_students_target: "input"} %>
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "card_teachers" %> 
  </div>
</div>


<% content_for :footer do %>
  <%= render 'shared/footer' %>
<% end %>