<div class="footer">
 <div class="row">
  <div class="col-4">
    <h2>Sobre nosotros</h2>
    <p>Quienes somos</p>
    <p>¿Cómo funciona?</p>
    <p>Reseñas sobre Lingua</p>
  </div>
  <div class="col-4">
    <h2>Para estudiantes</h2>
    <p>Blog de Lingua</p>
    <p>Preguntas y respuestas</p>
    <p>Descuento para estudiantes</p>
    <p>Evalúa tu inglés gratis</p>
  </div>
  <div class="col-4">
    <h2>Para profesores</h2>
    <p>Conviértete en un profesor en línea</p>
    <p>Enseñar inglés online</p>
    <p>Enseñar francés online</p>
    <p>Enseñar español online</p>
    <p>Enseñar otros idiomas</p>
  </div>
 </div>
</div>
<div>
 Copyrights 2022 EDUCACIÓN GLOBAL
 </div>
