<div class="banner-mid">
  <div id="carouselExampleCaptions" class="carousel slide" style="height: 100%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 100%; border-radius: 16px; ">
      <div class="carousel-item active" style="height: 100%;">
        <%= image_tag 'banner1.jpg', class: 'd-block w-100', alt: 'Banner 1', style: 'height: 100%; object-fit: cover; border-radius: 16px;' %>
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.20); border-radius: 16px;">
          <h3>Profesores particulares de inglés online: reserva ya tus clases</h3>
          <p>Lingua es la plataforma online líder de aprendizaje de idiomas donde podrás encontrar un profesor particular que hable tu idioma y que pueda enseñarte inglés. En Lingua hay una gran variedad de profesores disponibles especializados en diferentes niveles y con diferentes precios y horarios para que puedas elegir en función de tu nivel y de tu presupuesto.</p>
        </div>
      </div>
      <div class="carousel-item" style="height: 100%;">
        <%= image_tag 'banner2.jpg', class: 'd-block w-100', alt: 'Banner 2', style: 'height: 100%; object-fit: cover; border-radius: 16px;' %>
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.20); border-radius: 16px;">
          <h3>Libera tu potencial con los mejores profesores de idiomas.</h3>
          <p>El aprendizaje de idiomas en línea es precisamente eso: el aprendizaje de idiomas que se realiza principalmente con la ayuda de Internet. Principalmente es una palabra clave aquí, ya que el aprendizaje de idiomas en línea puede incluir actividades que se pueden realizar y completar sin conexión.</p>
        </div>
      </div>
      <div class="carousel-item" style="height: 100%;">
        <%= image_tag 'banner3.jpg', class: 'd-block w-100', alt: 'Banner 3', style: 'height: 100%; object-fit: cover; border-radius: 16px;' %>
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.20); border-radius: 16px;">
          <h3>Ventajas de aprender idiomas en plataformas online</h3>
          <p>Descubre cómo los cursos de aprendizaje de idiomas online pueden mejorar la comunicación y la productividad en el lugar de trabajo tanto para empleados como para las empresas</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
