  <div class="card-title">
    <h2>Intercambios culturales y lingüísticos</h2>
    <p>Nos abocamos a generar experiencias de vida para todos aquellos que integran nuestra gran comunidad de alumnos y profesores.</p>
  </div>
