.info-users {
  gap: 20px;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: row; /* Establece la dirección del flexbox a fila */
  justify-content: center; /* Centra los elementos a lo largo del eje principal */

  h2, p {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Elimina el margen por defecto */
  }
}
