.primer-container {
  background: var(--Fondo-azul, #225191);
  margin: 20px;
}

.segundo-container {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.teacher-name {
  color: #f8f9fa;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.segunda-caja{
  width: 90%;
  background-color: #f8f9fa;
  border-radius: 100px;
  margin: 0;
  margin-left: 150%;
}

.navbar-toggler{
  background-color:#f8f9fa;
  margin-left: 5px;
}

.filtro-search {
background-color: #FFF;
border-radius: var(--bs-navbar-toggler-border-radius);
}

.barra-busqueda{
  display: flex;
  width: 20%;
  height: 36px;
  padding: 8px 12px;
  align-items: center;
  gap: 13px;
  border-radius: 100px;
  background: #FFF;
}

/*cards  */
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 4px;
  margin-right: 130px;
  margin-left: 130px;
  margin-top: 10px;
   margin-bottom: -27px;
}

.card-container .col-md-8{
  width: 59%;
}
.imag-grande{
  width: 220px;
  height: 220px;
  border-radius: 16px;
}
.card-ancha {
  border-radius: 10px;
  display: flex;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #FFF;
}
.ancho-uno{
  height: 280px;
}
.body-card{
  border-top: 0;
  width: 112%;
  color: #1C1C1E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
   padding-right: 10px;

}
.text-container{
  height: 20px;
  margin-right: 10px;
  padding-right: 10%;
}
.titulo-principal{
  color: var(--Fondo-azul, #225191);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-chica {
  border-radius: 10px;
  max-width:60%;
  margin: 7px;
  align-items: center;
  background: #FFF;
  max-width: 81%;
  justify-content: space-between;
}
.imag-pequeña{
  max-width: 90%;
  border-radius: 10px;
  width: 338px;
  flex: 1 0 0;
  margin: 10px;
}
.imag-pequeña-uno{
  max-width: 95%;
  width: 245px;;
  border-radius: 10px;
  flex: 1 0 0;
  margin: 14px;
}
.botones-pequeños{
  justify-content: space-between;
  border-radius: 60px;
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border: none;
}
.botones-pequeños .btn {
  font-size: 16px;
  color: #225191;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.botones-pequeños .btn:hover {
  background-color: #03ffaf;
}
.card-chica-grande{
  margin-right: 10px;
  margin-top: -8px;
}
.pequeño-container{
  display: flex;
  color: #FFF;
  margin-bottom: 10px 10px 10px;
  text-decoration: none;
  margin-top: -40px;
  position: relative;
  padding: 2px;
  // align-items: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: #1C1C1E;
  text-decoration: none;
}
.links-dashboard{
  color: #1C1C1E;
  text-decoration: none;
}
