.primer-container {
  background: var(--Fondo-azul, #225191);
}

.segundo-container {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.teacher-name {
  color: #f8f9fa;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.segunda-caja{
  width: 90%;
  background-color: #f8f9fa;
  border-radius: 100px;
  // height: 40%;
}

.navbar-toggler{
  background-color:#f8f9fa;
}

.filtro-search {
background-color: #FFF;
border-radius: var(--bs-navbar-toggler-border-radius);
}

.barra-busqueda{
  display: flex;
  width: 20%;
  height: 36px;
  padding: 8px 12px;
  align-items: center;
  gap: 13px;
  border-radius: 100px;
  background: #FFF;
}

/*cards  */
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-ancha {
  max-width: 50%;
  border-radius: 10;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.card-chica {
  border-radius: 10;
  max-width:60%;
  margin: 20px;
  align-items: center;
}
