.flex-menu {
display: flex;
width: 580px;
padding: 64px;
flex-direction: column;
// align-items: center;
gap: 48px;
border-radius: 16px;
background: #FFF;
}

.btn-custom {
  display: flex;
  width: 400px;
  height: 40px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--fondo-verde, #39B54A);
}
.image-flex {
width: 177.465px;
height: 68px;
flex-shrink: 0;
}
