.page-content-review{
  display: flex;
  height: 80vh;
  justify-content:center ;
  align-items: center;
  align-content:center;
}

.container-review{
  background-color:white;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 16px;
  font-family: Amazon Ember;
  color: #575966;
  margin: auto;
  margin-top: 50px;
  padding: 16px;

  .simple_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    .review_rating{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px;
      margin-bottom: 0px !important;
      font-size: 18px;
      font-weight: 600;
    }
    .caja_de_comentario{
      max-width: 100%;
      border-radius: 10px;
      background-color:white;
      color: #575966;
    }
    .boton-comentario{
      display: flex;
      justify-content: center;
      width: 30%;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      background-color: white;
      border-radius: 100px;
      padding: 8px 24px;
      border: #225191 1px solid;
      color: #225191;
      transition: all 0.3s ease 0s;
      margin: auto;
      &:hover{
        text-align: center;
        background-color: #225191;
        border-radius: 100px;
        padding: 8px 24px;
        border: none;
        color: white;
        border: white 1px solid;
      }
      &:active{
        font-size: 14px;
        font-weight: 600;
        padding: 9.5px 71.5px;
      }
    }
  }
}

.valoraciones{
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  width: 50%;
  margin-left: 26%;
  letter-spacing: 2px;
}


.review_comment{
  color: white;
}

.rating-select .fa-star {
  cursor: default;
}




