.container-review{
 background-color:white;
  max-width: 65%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 7%;
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;

}
.titulo-comentario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 43px;
  margin-top: 43px;
  color: black;

}
.valoraciones{
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  width: 50%;
  margin-left: 26%;
  letter-spacing: 2px;
}
.caja_de_comentario{
  max-width: 60%;
  border-radius: 10px;
  margin-left: 19%;
  background-color:white;
  color: black;

}
.boton-comentario{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 34px;
}
